<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop List</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app-shop-list" class="shop-list">
        <h1 class="title">Lista de compras</h1>
        <div class="formData">
            <div class="field-data">
                <label for="form-name">Nome</label>
                <input id="form-name" type="text" name="name" v-model="formData.name">
            </div>
            <div class="field-data">
                <label for="form-quantity">Quantidade</label>
                <input id="form-quantity" type="text" name="quantity" v-model="formData.quantity">
            </div>
            <div class="wrapper-button">
                <button class="btn-add" @click="addItem">Adicionar</button>
            </div>
        </div>
        <ul class="list-items">
            <li v-for="item in items">
                <span class="item-name">{{ item.name }}</span>
                <span class="item-quantity">{{ item.quantity }}</span>

            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>
